LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 Mhz;

LOCATE COMP "LED[0]" SITE "G20";
IOBUF PORT "LED[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[1]" SITE "K20";
IOBUF PORT "LED[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[2]" SITE "L20";
IOBUF PORT "LED[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[3]" SITE "N18";
IOBUF PORT "LED[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[4]" SITE "J20";
IOBUF PORT "LED[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[5]" SITE "L18";
IOBUF PORT "LED[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[6]" SITE "M18";
IOBUF PORT "LED[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "LED[7]" SITE "N17";
IOBUF PORT "LED[7]" IO_TYPE=LVCMOS33;